$secondary:#E6E6E6;

body {
    font-family: 'Raleway', sans-serif;
    align-items:flex;
    
}

header {
            display:flex;
            height:200px;
            padding:30px;
            align-items:center;
            align-items:flex;
            }
            .logo {
                margin-right:30px;
                
                    
                }
            img {
                
            }
            nav {
                flex:1;
            }
            ul {
                list-style:none;
                margin:0;
                padding:0;
                margin-left:930px;
            }
            li{
                flex:1;
                align-items:flex;
                display:inline-block;
                font-size:20px;
                padding:20;
        
            &.active {
                    
                background:$secondary;

                font-weight:bold;
                border-radius: 1.5em;
                }
            }
            a {
                display:inline-block;
                color:black;
                padding: 15px;
                font-weight:bold;
                transition: 0.2s;
                
                font-weight:lighter;
                background: #ffffff;
                border: 0.2px solid transparent;
            }
            
a:hover {
    font-weight:bolder;
    color:white;
     background: black;
     border: 0.2px solid black;
    border-radius:100em;
}



section {
    flex:1
    margin-top: 100px;
    margin-left: 30px;
    text-align: left;
     
}

h1 {
    
    text-align: center;
    filter: drop-shadow(0 0 1.2rem #545454);
    font-size: 75px;
    color: #FBF6F6;
    transition: 0.2s
        
       
    
}

h1:hover {
  color: black;  
  filter: drop-shadow(0 0 0rem white);
}

.inceput {
    flex:1
    font-weight: lighter;
    
}
.propSfarsit {
    flex:1
    font-weight: bold;
    font-size: 200px
}



.btn {
    
    margin-top: 75px;
    margin-left: 820px;
    width: 300px;
    height: 200px;
    
   

}


footer {
    flex:1;
    align-content: center;
    width: device-width;
}